.section-div img {
    margin-left: 840px;
    padding-top: 30px;
}

.div-pulse h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    color: white;
    margin-left: 750px;
}

.div-pulse h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 140px;
    color: blue;
    margin-left: 708px;
}

.main-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding: 50px;
    margin-right: 9px;
}

.birinchi img {
    border-radius: 7%;
}

.ikkinchi img {
    border-radius: 7%;
}

.uchinchi img {
    border-radius: 7%;
}


.div-hr2 hr {
    background-color: white;
    height: 4px;
}

#footer1 {
    background-color: black;
}

.div-text-1 {
    color: white;
    margin-left: 800px;
    padding-bottom: 40px;
}

.div-text-1 ul  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    display: flex;
    gap: 60px;
}



.diiv-hr-6 hr {
    background-color: white;
    height: 4px;
}

.div-last p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.div-last {
    padding: 55px;
    margin-left: 840px;
}

.div-img-logo {
    margin-left: 200px;
   padding-top: 45px;
}

.div-small small {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.div-small {
    margin-left: 150px;
    padding-top: 30px;
}
